<!DOCTYPE html>
<html>

<head>
    <title>User Registration Form</title>
    <style>
        /* CSS styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        form {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f4f4f4;
            border-radius: 5px;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="password"],
        select {
            width: 80%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        input[type="submit"] {
            width: 80%;
            padding: 10px;
            margin-top: 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <form  action="/addc" method="POST">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" >

        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom">

        <label for="numero">Numéro:</label>
        <input type="number" id="numero" name="numero" >

        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" name="adresse">

        <label for="genre">Genre:</label>
        <select id="genre" name="genre">
            <option value="male" selected>Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" >

        <label for="password_confirmation">Confirmer le mot de passe:</label>
        <input type="password" id="password_confirmation" name="password_confirmation" >

        <input type="submit" value="Submit">
    </form>

</body>

</html>